/* ------------- Mobile Styles ------------- */

/* ------------- header styles ------------- */

header {
 background-color: #222;
 display: flex;
    flex-direction: column;
}

/*--------------- general styles --------------*/
.container {
background-color: #222;
display: flex;
flex-direction: column;
padding: 15px;
}

/*----------- logo container bg color ----------*/
.logo-container
{
    background-color: #c78c06;
}

/* ------------ nav styles -------------- */ 

.container nav {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
}

.nav a {
    color: #c78c06;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    
}

/* space between li items */
.nav li {
    margin-bottom: 26px;
    
} 

/* ------------ menu HOME style ------------ */

.nav li:first-child a {
    color: #222222;
    text-decoration: none;
    background-color: #c78c06;
    display: inline-block;
    width: 714px;
    height: 85px;
    line-height: 130px;
}

/*button color and size*/
.form1-container button {
    background-color: #222222; 
    border-color: #c78c06;
    border-radius: 2px;
    padding: 5px; 
    height: 45px;
    width: 40px;
}

/* --------------- magnifying glass icon color ----------------*/
.form1-container button i {
    color: #c78c06; 
}

/*---------------- search form ---------------- */
.form1-container input[type="text"]
{
width: 650px;
height: 40px;
}

/* -----------------------------------------------------------MAIN --------------------------------------------------------*/

/*---------- banner overlay --------------*/

.banner-overlay {
    position: relative;
    width: 760px; 
    height: 600px; 
  }
  
  .main-banner {
    width: 760px;
    height: 645px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
  }
  
  .banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  /*-------------------- banner text -------------------*/

  .banner-overlay h1 {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding-top: 84px;
    line-height: 1.5em;
  }

  .banner-overlay p {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 15px;
    padding-top: 40px;
    line-height: 1.5em;
    padding-bottom: 15px;
    margin-right: 30px;
  }

  /*------------------- Connect with us BUTTOM --------------- */

  .button-container-yellow button {
    background-color:#c78c06;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 25px;
    width: 270px;
    height: 100px;
    margin-top: 10px;
}

/*arrow icon gap adapted from Professor Kath Chen */
.icon {
    margin-left: 10px;
    }

    /*------------- ABOUT US section -----------------*/

.about-us {
        width: 725px;
        height: auto;
    }

.about-container {
    background-color: #ffe6ac; 
    padding-left: 10px;
}

.about-container h2 {
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: 45px;
    padding-left: 10px;
    margin-bottom: 37px;
}

.about-container p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin-bottom: 35px;
    line-height: 1.5em;
    padding-left: 10px;
}